*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    margin: 0px;
    background-image: url(../images/bg.jpg) ;
    background-repeat:no-repeat ;
    background-size: cover;
    background-attachment: fixed;
    color:white;
    box-sizing: border-box;

}
.container{
    width: 80%;
    margin: 50px auto;
}

    /* start header */

header{
    text-align: center;
    color:white;
}
.header1{
    font-size: 80px;
    padding-top: 40px;
    margin-bottom:auto;
}
.header2{
    margin-top: 0px;
    color:rgba(255, 255, 255, 0.61) ;
}

    /* End header */


.special{
    background-image:url(../images/pic02.jpg );
    background-repeat: no-repeat;
    height:443px;
}

    /*start article */

.two{
    background-color: rgb(255, 255, 255);
    color: black;
    height: 60px;
    text-align: center;
    padding: 107px;
}
.two h2{
    font-size:35px;
    margin-top:0px ;
}
.two p{
    color:#ddd;
}
.three{
    background-color: #ddd;
    color: black;
    padding: 100px;
    font-size: 18px;
}
.three p{
    margin-top: 0px;
    color: rgb(143, 140, 140);
}

    /*End article  */

    /*start main */

.four{
    background-color:rgb(34, 33, 33);
    height: 670px;
    overflow: hidden;
    padding: 90px;
}
.fire{
    text-align: center;
    background-color:black ;
    padding: 40px;
}
.four h2{
    font-size: 35px;
    margin-top: 0px;
    letter-spacing: 2px;
}
.fire p{
    color: rgb(80, 75, 75);
    letter-spacing: 4px;
}
.images img{
    float: left;
    width: 50%;
    display: inline;
}

    /* End main */

        /* start container */

.five{
    clear: both;
    overflow: hidden;
}
.image img{
    float: left;
    width: 50%;
}
.heading{
    float: left;
    width: 50%;
    background-color: #ddd;
    height: 404px;
    padding: 102px;

}
.heading h2{
    color: rgba(0, 0, 0, 0.795);
}
.heading p{
    color: rgb(80, 75, 75);
}
.index{
    clear: both;
    background-color: rgb(37, 35, 35);
    float: left;
    width: 50%;
    height: 404px;
    padding: 102px;
    overflow: hidden;
}
.index p{
    color: rgb(105, 93, 93);
}

    /* start footer */

.fab , .far{
    font-size: 40px;
    margin: 50px 15px ;
    color: rgb(168, 163, 163);
}
.fab:hover, .far:hover{
    color: white;
}
footer{
text-align: center;
}
.link{
    margin-top: 30px;
    border: 1px solid #ddd;
}

    /*End footer */

        /* End container */